<div class="container">
    <h4 class="mt-4 display-4">User Lists</h4>     
    <div style="display: flex;justify-content: flex-end; ">

      <%= form_tag users_path, method: :get do %>
        # form_tag({ :action => :search_user }, { :method => :get })       
        <%= text_field_tag :name, params[:name], placeholder: "Name..." %>            
        <%= text_field_tag :email, params[:email], placeholder: "Email..." %>           
        <%= date_field_tag :from_date, params[:from_date], autocomplete: 'off' %>        
        <%= date_field_tag :to_date, params[:to_date], autocomplete: 'off' %>    
        <%= submit_tag ("Search") %>
        <input type="reset" value="Clear" >       
      <% end %>

      <% if admin? %>
        <%= link_to 'Add', new_user_path , class: "btn btn-success" %>  
      <% end %>      
    </div>

    <%= form_tag users_path, method: :get do %>
      <%= text_field_tag :search, params[:search], placeholder: "Name..." %> 
      <%= submit_tag "Search" %>
    <% end %>

    <div class="row justify-content-center">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Created User</th>
            <th scope="col">Phone</th>
            <th scope="col">Birth Date</th>
            <th scope="col">Address</th>
            <th scope="col">Created Date</th>
            <th scope="col">Updated Date</th>
            
            <% if admin? %>
              <th>Action</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr> 
              <td> <%= link_to user.name, user_path(user), {:remote => true, 'data-toggle' =>  "modal"} %> </td>
              <td> <%= link_to user.name, user %></td>
             
              <td><%= user.email %></td>
              <td><%= user.created_user_id %></td>
              <td><%= user.phone %></td>
              <td><%= user.dob %></td>
              <td><%= user.address %></td>            
              <td> <%= user.created_at.strftime("%Y/%m/%d") %></td>
              <td> <%= user.updated_at.strftime("%Y/%m/%d") %></td>
              <% if admin? %>
                <td>
                <%= link_to "Delete", user_path(user.id), method: :delete,
                data: { confirm: "Are you sure?" } %>
                </td>
              <% end %>

            </tr>
          <% end %>
        </tbody>
      </table>
    #  paginate page
    </div>
  
</div>