<ul class="nav navbar navbar-expand-lg" style="padding: 16px; background: #a8d8dd; font-size: 22px; margin-bottom: 50px;">
  <li class="nav-item">
    <a class="nav-link active" href="/"> OJT | BulletinBoard</a>
  </li>
  <li class="nav-item">
    <%= link_to "Posts" , posts_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <% if admin? %>
      <%= link_to "Users", users_path, class: "nav-link" %>
    <% end %>        
  </li>
  <li class="nav-item">
    <% if logged_in? %>
      <%= link_to "User", user_profile_path(current_user.id), class:  "nav-link" %>
    <% end %>
  </li>
  <div class="collapse navbar-collapse" id="navbarNav">
  </div>  
  <li class="nav-item float-end">
    <div class="dropdown show">
      <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdownMenuLink" role="button">
        <%= current_user.name %>
      </a>
      <div aria-labelledby="dropdownMenuLink" class="dropdown-menu" style="left:-75px;">
        <%= link_to "Profile", user_path(current_user) , class:"dropdown-item" %>
        <%= link_to "Logout", user_logout_path, method: :delete, class:"dropdown-item" %>
        <%= link_to "Change Password", edit_password_path(current_user) , class:"dropdown-item" %>
      </div>
    </div>
  </li>  
</ul>