<%= form_with model: @post do |form| %>

    <div class="col-md-6">
        <%= form.label :title %>
        <%= form.text_field :title, class: "form-control" %>
    </div>
    <div>
        <% @post.errors.full_messages_for(:title).each do |message| %>
            <div> <%= message %></div>
        <% end %>
    </div>

    <div class="col-md-6">
        <%= form.label :description %>
        <%= form.text_area :description, size: "50x10", class: "form-control" %>
    </div>
    <div>
        <% @post.errors.full_messages_for(:description).each do |message| %>
            <div> <%= message %></div>
        <% end %>
    </div>
    <div class="col-md-6">
        <%= form.submit %>
    </div>
<% end %>