<div class="container">
    <h4 class="mt-4 display-4">Post Lists</h4>
    <div style="display: flex;justify-content: flex-end; ">
     
    <%= form_tag posts_path, method: :get do %>
      <%= text_field_tag :search, params[:search] %> 
      <%= submit_tag "Search" %>
    <% end %>
  
      <%= link_to 'Add', new_post_path , class: "btn btn-success" %>
      <%= link_to 'Download', posts_download_path(format: :csv), class: "btn btn-success" %> 

      <%= form_tag posts_upload_path, multipart: true, class: 'form-inline' do %>
        <div class="form-group">
          <%= file_field_tag :file %>
        </div>
        <div class="form-group">
        <%= submit_tag "Upload", class: "btn btn-success" %>
        </div>
      <% end %>
     
      
    </div>
    <div class="row justify-content-center">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Post Titl</th>
            <th scope="col">Post Description</th>
            <th scope="col">Post User</th>
            <th scope="col">Post Date</th>
            <th scope="col" colspan="2">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr> 
              <td><%=link_to post.title, post %></td>
              <td><%= post.description %></td>
              <td> post.create_user_id</td>
              <td> <%= post.created_at.strftime("%Y/%m/%d") %></td>
              <td><%= link_to 'Edit', edit_post_path(post.id) %></td> 
              <td><%= link_to "Delete", post_path(post.id),
                     method: :delete, data: {confirm: "Are you sure?"} %>   
               </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    #  paginate page
    # will_paginate @posts, list_classes: %w(pagination justify-content-center)
    </div>
  
</div>





