<div class="container">
  <div class="row justify-content-center">
    <h4 class="mt-4 mb-4 display-4">Create Post</h4>
  </div>
  <div class="row justify-content-center">
    <%= form_with scope: :post, url: confirm_create_path,  local: true do |form| %>
<<<<<<< HEAD
      <% if @post.errors.any? %>
            <div class="alert alert-danger">
                <% @post.errors.full_messages.each do |message| %>
                <div><%= message %></div>
            <% end %>
            </div>
        <% end %>
=======


>>>>>>> 58112bfcc7287f40abdb122bab885700f0e38568
      <div class="row col-md-6">
        <%= form.label :title, class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">     
            <%= form.text_field :title, class: "form-control" %>
        </div>
      </div><br>

      <div class="row col-md-6">
        <%= form.label :description, class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">     
            <%= form.text_area :description, class: "form-control" %>
        </div>
      </div> <br>

     
      <div class="col-sm-10">  
        <%= form.submit  "Confirm" , class: "btn btn-primary" %>
        <%=  link_to  "Clear", posts_path, class: "btn btn-warning" %>
      </div>
    <% end %>
  </div>
</div>